include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst

recursive-include examples *.py
recursive-include bundled *.h *.c *.rl
recursive-include tests *.py

exclude .travis.yml

prune fenrir/http/__pycache__
