include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst

recursive-include examples *.py
recursive-include bundled *.h *.c *.rl
recursive-include tests *.py

exclude tox.ini
exclude .travis.yml
exclude .coverage
exclude .coveragerc

prune fenrir/c/__pycache__
