include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst
include Makefile

include fenrir/c/http11/README.rst

recursive-include examples *.py
recursive-include fenrir/c/http11/src *.h *.c *.rl
recursive-include tests *.py
recursive-include tests/c/http11/canned *

exclude tox.ini
exclude .travis.yml
exclude .coverage
exclude .coveragerc

prune fenrir/c/http11/__pycache__
